/* HelpDeskWidget.css */

/* Container for the entire chat widget */
.chat-widget-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  max-height: 500px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  z-index: 1000;
}

/* Header of the chat widget */
.chat-widget-header {
  background-color: #cfb87c;
  color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-widget-header h2 {
  margin: 0;
  font-size: 16px;
}

.chat-widget-controls {
  display: flex;
  align-items: center;
}

.chat-widget-controls button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}

.chat-widget-controls button:hover {
  opacity: 0.8;
}

.minimize-button,
.close-button {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1;
}

/* Body of the chat widget */
.chat-widget-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
}

/* Error message styling */
.error-message {
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

/* Chatbox styling */
.chatbox {
  /* flex-grow: 1; */
  padding: 10px;
  /* overflow-y: auto; */
  background-image: url('/CU_Logo.jpg');
  background-size: 325px 400px;
  overflow: scroll;

  
}
/* 
.chatbox::-webkit-scrollbar {
  width: 6px;
}

.chatbox::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
} */

/* Message container */
.message-container {
  display: flex;
  margin-bottom: 10px;
}

.message-container.you {
  justify-content: flex-end;
}

.message-container.bot {
  justify-content: flex-start;
}

/* Message bubble styling */
.bubble {
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 80%;
  word-wrap: break-word;
  position: relative;
  margin-bottom: 5px;
  font-size: 14px;
}

.bubble.you {
  background-color: #cfb87c;
  align-self: flex-end;
}

.bubble.bot {
  background-color: black;
  align-self: flex-start;
  color: white;
}



.timestamp {
  font-size: 0.75em;
  color: white;
  margin-top: 5px;
  text-align: right;
}

/* Input container styling */
.input-container {
  display: flex;
  border-top: 1px solid #ccc;
}

.input-style {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.button-style {
  padding: 10px;
  border: none;
  background-color: #cfb87c;
  color: white;
  cursor: pointer;
}

.button-style:hover {
  background-color: black;
}

.input-style::placeholder {
  color: #aaa;
}

/* Adjustments for input and button focus */
.input-style:focus,
.button-style:focus {
  outline: none;
}

/* Media queries for responsiveness */
@media (max-width: 480px) {
  .chat-widget-container {
    width: 100%;
    right: 0;
    bottom: 0;
    border-radius: 0;
  }
}

/* background image */
.backgroundImage {
  background-image: url('/OIT_Page.png');
  height: 100vh;
  width: 178vh;
  background-position: center;
  background-size: cover;
  z-index: 999;
} 
