/* App.css */

.App {
  font-family: Arial, sans-serif;
}

/* Chat open button styling */
.chat-open-button {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: transparent;
 
}

img{
  width: 200px;
  height: 200px;
}

.backgroundImage {
  background-image: url('/OIT_Page.png');
  height: 100vh;
  width: 178vh;
  background-position: center;
  background-size: cover;
  z-index: 999;
} 

/* .chat-open-button:hover {
  background-color: #0056b3;
} */
